<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="edit-page">
    <h3>Edit your chat <%= chat._id %></h3>
    <p>this chat was send from <b><%= chat.from%></b> to <b><%=chat.to%></b></p>

    <form method="POST" action="/Chats/<%= chat._id %>?_method=PUT">
        <textarea name="newMsg" rows="5" cols="30"><%= chat.msg %></textarea><br>
        <button>edit</button>
    </form>
</body>
</html>