<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="home-page">
    
    <h3>All chats!</h3>
    <i><h4>this project created by sagar srivastava</h4></i>
    <form method="get" action="/Chat/new">
        <button class="new">Add message</button>

    </form>
    <br>

<% for (let Chat of Chats) { %>
    <div class="Chat">
       <i> <p>from : <%= Chat.from %></p> </i>
    <div class="msg">
        <p>message : <%= Chat.msg %></p>
       
        <form method="get" action="/Chats/<%=Chat._id %>/edit">
            <button class="edit">Edit</button>
        </form><br>

        <form method="POST" action="/Chats/<%=Chat._id %>?_method=DELETE">
            <button class="delete">Delete</button>
        </form>
    </div>

   <i> <p>received by : <%= Chat.to %></p></i>
    <hr>
    <p><%= Chat.created_at.toString().split(" ")[4] %></p>
    <p><%= Chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
    </div>
    <br><br>
<% } %>

</body>
</html>
